<launch>
    <rosparam file="$(find diff_drive)/config/ddrive.yaml" />

    <param name="robot_description" command="$(find xacro)/xacro '$(find diff_drive)/urdf/ddrive.urdf.xacro'"/>
    
    <node name="rviz" pkg="rviz" type="rviz" args=" -d $(find diff_drive)/rviz/ddrive_view.rviz"/>

    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" />
    <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui"/>
</launch>